{{- if .Values.mysql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cattr.mysql.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cattr.mysql.labels" . | nindent 4 }}
  {{- with (include "cattr.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: mysql
      protocol: TCP
      name: mysql
  selector:
    {{- include "cattr.mysql.selectorLabels" . | nindent 4 }}
{{- end }}
