apiVersion: v1
kind: Service
metadata:
  name: {{ include "cattr.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cattr.labels" . | nindent 4 }}
  {{- with (include "cattr.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cattr.selectorLabels" . | nindent 4 }}
